.solid-logo {
    position: absolute;
    top: auto;
    right: -50%;
    bottom: auto;
    left: 0;
    margin: auto;
    margin-top: 100px;
    height: 80%;
    opacity: 0;
    animation: fade-in 4s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@media screen and (max-width:1200px){
    .solid-logo{
        position: absolute;
        top: auto;
        right: 0%;
        bottom: auto;
        left: 0;
        margin: auto;
        margin-top:50px;
        height: 50%;
        opacity: 1;
        transition: fade-in 1s forwards;
    }
}
